
body{
  font-family: myFont;
  background-color: white;
}

@font-face{
  font-family: myFont;
  src: url('../fonts/Satoshi-Variable.ttf');
}

.container{
  text-align: center;
}

.intro, .projects, .about, .techstack{
  padding-bottom: 30px;
}

h1, p{
  color: black;
}

/* NAVBAR */
nav {
  padding-top: 15px;
  padding-bottom: 0px;
  width: 100%; /* Expand the navbar to 100% of the viewport width */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbarLine{
  border: none;
  height: 1px;
  background-color: black;
}

#navLogo{
  width: 40px;
  height: 40px;
  padding-left: 15px;
}

nav ul{
  padding-right: 10px;
}
nav a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(#98BED4, #98BED4);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  padding: 0px;
  padding-bottom: 3px;
  margin: 5px 10px;
}

nav a:hover,
nav a:focus,
nav a:active {
  background-size: 100% 0.1em;
}
nav ul{
  list-style: none;
}

ul{
  display: flex;
  flex-direction: row;
}

button{
  background-color: transparent;
  color: white;
  border-radius: 60px;;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid white;
}

button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

#aboutMePhoto{
  width: 250px;
  border-radius: 10px;
}

#headshot{
  border-radius: 50%;
  width: 200px;
}


.sectionTitle{
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-top: 40px;
  width: 100%;
}

/* INTRO */
.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro_name h1{
  font-size: 20px;
}
.intro_name{
  font-size: 20px;
  text-align: left;
  margin: 20px;
}

/* PROJECTS */
.projects{
  background-color: black;
}

#yogaImg, #shoppingCartImg, #parksImg{
  width: 60%
}

.imageContainer{
  display: flex;
  position: relative;
  width: 100%; /* Set your desired width */
  height: 200px; /* Set your desired height */
  overflow: hidden;
  background-color: white; 
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.imageContainer #parkImg{
  width: 100% 100%;
  height: 100%;
  object-fit: cover;
}
.projects .sectionTitle{
  color: white;
  padding-top: 40px;
  margin: 15px;
}

.projectTitle{
  color: #98BED4;
}

.projectDescription{
  color: white;
}

.theProject{
  margin: 15px;
}

.allProjects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technologiesBold{
  font-weight: bold;
}
.projectButtons{
  display: flex;
  gap: 10px; 
}

/* TECH STACK */
.techstack{
  width: 100%;
  height: 100%;
  background-color: rgba(152, 190, 212, 0.2);
}

.techstack h1{
  text-align: left;
}

.skills{
  max-width: 100%;
  align-items: center;
}

/* tech stack skills list */
.toolboxContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.toolboxItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolboxItem p{
  margin-top: 5px;
}
.toolboxIcons{
  font-size: 2.5em;
}

#powershell{
  width: 40px;
}

/* ABOUT ME */
.about{
  width: 100%;
  height: 100%;
}

.techstack .sectionTitle{
  text-align: left;
}

.about .sectionTitle{
  text-align: left;
}
.aboutMe{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px;
}

.aboutBio, .aboutEducation{
  text-align: left;
  margin: 15px;
}
.educationDetails p{
  margin: 0px;
}

.educationYear{
  font-weight: bold;
}

.educationDetails{
  font-size: 14px;
}

/* CONNECT */
body,html {
  margin: 0;
  padding: 0;
}

.connectSection {
  width: 100%;
  background-color: #98BED4; 
}

.connect {
  background-color: #98BED4; 
  box-sizing: border-box; /* Include padding in element's total width */
  width: 100%;
  height: 100%; /* Full height of the container */
  text-align: left;

  display:flex;
  flex-direction: column;
}

.linkedinIcon, .emailIcon, .githubIcon{
  color: white;
  margin-left: 10px;
}

.connect div{
  margin-top: 10px;
}

.connect div span{
  margin-left: 10px;
  color: white;
}

hr{
  color: white;
  height: 5px;
  margin: 0;
  border-top: 0px; 
}

.connect h1{
  color: white;
  font-size: 25px;
  margin-left: 10px;
}

#linkedinProfile{
  vertical-align: middle;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
}

#linkedinProfile:hover{
  color: #93a9b6;
}

.connect a{
  text-decoration: none;
  color: white;
}

.connect{
  padding-bottom: 30px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typingName {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white; /* You can change the border color */
  font-size: 45px;
  font-family: myFont;
  src: url('../fonts/Satoshi-Variable.ttf');
  animation: typing 8s steps(10, end) infinite; /* Adjust the duration as needed */
}

p.typingName{
  color: white;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 80px;
}

.footer{
  background-color: white;
  text-align: center;
  padding: 10px;
}

.footer p{
  margin: 0px;
  font-size: 12px;
}

.footer a{
  text-decoration: none;
  color: green;
}

/**** mobile ****/
@media (min-width: 540px) {
  .intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* ABOUT ME */
  #aboutMePhoto{
    width: 270px;
    border-radius: 10px;
  }

  .educationDetails{
    font-size: 15px;
  }

  /* PROJECTS */
  .imageContainer{
    display: flex;
    position: relative;
    width: 100%; /* Set your desired width */
    height: 250px; /* Set your desired height */
    overflow: hidden;
    background-color: white; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

/**** desktop ****/
@media (min-width: 780px) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container{
    max-width: 650px; 
    width: 100%;
  }

   /* INTRO */
  .intro {
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #headshot{
    border-radius: 50%;
    width: 250px;
  }

  /* PROJECTS */
  .imageContainer{
    display: flex;
    position: relative;
    width: 100%; /* Set your desired width */
    height: 300px; /* Set your desired height */
    overflow: hidden;
    background-color: white; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .projects{
    width: 100%;
    background-color: black;
  }
  #yogaProj, #beanstackProj, #parksProj{
    margin: 20px;
  }
  .theProject {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "imageContainer projectTextContainer";
    /* max-width: 700px; 
    margin: 0px; */
  }
  
  .theProject.theProjectMiddle{
    grid-template-areas:
    "projectTextContainer imageContainer";
  }

  .imageContainer {
    grid-area: imageContainer;
  }
  
  .projectTextContainer {
    grid-area: projectTextContainer;
  }

  /* TECH STACK */ 
  .techstack{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .toolboxContainer{
    max-width: 650px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .techstack .sectionTitle{
    text-align: left;
    max-width: 650px;
  }

  #powershell{
    width: 43px;
  }

  /* ABOUT ME */
  .about{
    padding-bottom: 70px;
  }

  .sectionTitle{
    padding-bottom: 10px;
  }
  .aboutSection{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
  }

  #aboutMePhoto{
    width: 200px;
    border-radius: 10px;
  }

  .aboutSection{
    margin: 0px;
  }
  .aboutImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
  }
  
  .aboutBio, .aboutEducation {
    margin: 0px;
  }

  .aboutSection h3{
    margin-top: 0px;
  }

  .educationDetails{
    margin-bottom: 20px;
    font-size: 14px;
  }

  /* CONNECT */ 
  body,html {
    margin: 0;
    padding: 0;
  }

  .connect h1{
    font-size: 28px;
    margin-left: 20px;
  }

  .connectSection {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .connect{
    max-width: 650px; 
    width: 100%;
  }

  .linkedinIcon, .emailIcon, .githubIcon{
    color: white;
    margin-left: 20px;
  }

  .footer{
    font-size: 14px;
  }
}

@media (min-width: 880px) {
  .container{
    max-width: 750px; /* Set your desired maximum width */
    width: 100%;
  }

  #elLogo{
    width: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
  }

  /* PROJECTS */
  .imageContainer{
    display: flex;
    position: relative;
    width: 100%; /* Set your desired width */
    height: 300px; /* Set your desired height */
    overflow: hidden;
    background-color: white; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  /* TECH STACK */ 
  .techstack{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .toolboxContainer{
    max-width: 750px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .techstack .sectionTitle{
    text-align: left;
    max-width: 750px;
  }

  #powershell{
    width: 43px;
  }

  /* ABOUT ME */
  .aboutSection{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 25px;
  }

  #aboutMePhoto{
    width: 250px;
    border-radius: 10px;
  }

  /* CONNECT */
  .connectSection {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .connect{
    max-width: 750px; 
    width: 100%;
    padding-bottom: 30px;
  }
}

@media (min-width: 980px) {
  .container{
    max-width: 850px; /* Set your desired maximum width */
    width: 100%;
  }

  /* TECH STACK */ 
  .techstack{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .toolboxContainer{
    max-width: 850px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .techstack .sectionTitle{
    text-align: left;
    max-width: 850px;
  }

  #powershell{
    width: 43px;
  }

  /* ABOUT ME */
  .aboutSection{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 30px;
  }

  #aboutMePhoto{
    width: 280px;
    border-radius: 10px;
  }

  /* CONNECT */ 
  .connectSection {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .connect{
    max-width: 850px; 
    width: 100%;
    padding-bottom: 30px;
  }
  
}

@media (min-width: 1200px) {
  .container{
    max-width: 1000px; /* Set your desired maximum width */
    width: 100%;
  }

  .sectionTitle{
    padding-top: 10px;
    margin: 15px;
    width: 100%;
    max-width: 1000px;
  }

  /* PROJECTS */
  .projects{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .theProject{
    margin: 0px;
  }

  /* TECH STACK */ 
  .techstack{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .techstack .sectionTitle{
    text-align: left;
    max-width: 1000px;
  }
  .allProjects{
    max-width: 1000px; 
  }
  .toolboxContainer{
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  #powershell{
    width: 43px;
  }

  /* ABOUT ME */
  .aboutSection{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 32px;
  }

  #aboutMePhoto{
    width: 300px;
    border-radius: 10px;
  }

  .aboutBio{
    font-size: 18px;;
  }

  .educationDetails{
    font-size: 16.5px;
  }

  /* CONNECT */
  .connectSection{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .connectSection {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .connect{
    max-width: 1000px; 
    width: 100%;
    padding-bottom: 30px;
  }

  .connect h1{
    font-size: 25px;
    margin-left: 0px;
  }

  .linkedinIcon, .emailIcon, .githubIcon{
    color: white;
    margin-left: 0px;
  }
}